table, tr td{
    border: solid 1px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
}

#cor{
    background-color: black;
<<<<<<< HEAD
}

.titulo{background-color: rgb(255, 0, 0);

    }
=======
}
>>>>>>> 96f865de08e0a2a3e5d3a52805a33e7b9a4311c7
